* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
  color: #95e1d3;
}

.header-links {
    display: flex;
    gap: 55px;
}

.link {
    font-size: 14px;
    font-weight: 400;
    color: #95e1d3;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
}

.section-title {
  text-align: center;
  margin-top: 75px;
}

.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #f38181;
  margin: auto;
}

.top-text {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #333333;
  margin-bottom: 20px;
}

.big-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 100px;
  margin-top: 65px;
}

.item {
  width: 328px;
  display: flex;
  align-items: flex-start;
}

.item-icon {
  margin-right: 14px;
}

.item-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.item-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #b6b6b6;
}